  <form>

    <div class="form-group" >
      <label for="firstName">First Name </label> 
      <input id="firstName" class="form-control" type="text" ng-model="player.firstName" /> <br/>
      <label for="lastName">Last Name </label> 
      <input id="lastName"  class="form-control" type="text" ng-model="player.lastName" /> <br />
      <label for="email">E-mail </label>
      <input id="email" class="form-control" type="text" ng-model="player.email" />  <br />
      <button type="submit" class="btn btn-default" ng-click="loginPlayer(player)">Enter Lobby</button>

    </div>
  </form>