


<div ng-show="gameId !==undefined">


<div class="progress" ng-show ="isMyTurn===false">
  <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span>Waiting for Turn... </span>
  </div>
</div>
  
<div class="progress" ng-show ="isMyTurn===true">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span>Your Turn! </span>
  </div>
</div>
<div ng-show="lastRoundWon!== undefined && lastRoundWon" class="alert alert-success" role="alert">You won!</div>
<div ng-show="lastRoundWon!== undefined &&  !lastRoundWon" class="alert alert-danger" role="alert">You lost...</div>

<div class="panel panel-default" ng-show="activeCard!== undefined">
  <div class=" panel-heading">
    <div class="panel-title"> {{activeCard.name}} <span class="badge">Cards Remaining: {{ph.cards.length}}</span> </div>
    <!--<div class="col-md-6"> <img class="img-responsive" src="{{activeCard.imageUrl}}" /></div>-->
  </div>
  <div class="panel-body"> 
    <div class="row" ng-repeat= "(attrName, attrValue) in activeCard.attributes">
      <div class="col-md-5">{{attrName}}</div>
      <div class="col-md-5"> <span class="badge">{{attrValue | number:0}}</span></div>
      <div class="col-md-2"><a class="btn btn-primary btn-sm" ng-click="executeTrick(attrName)">Trick!</a></div>
    </div>
  </div>
</div>
</div>
<div ng-show="gameWon!== undefined && gameWon" class="panel panel-success">
  <div class="panel-heading">Congratulations!</div>
  <div class="panel-body">
    You have won the game!
  </div>

</div>
<div ng-show="gameWon!== undefined && !gameWon" class="panel panel-danger">
  <div class="panel-heading">Oh no!!</div>
  <div class="panel-body">
    You have lost the game!
  </div>

</div>


